{% extends 'layout.html.twig' %}

{%block title%}Administration : {{rubrique}}{%endblock%}

{% block content %}
    <h1>Administration des utilisateurs : Suppression d'un administrateur</h1>
    Désolé, opération impossible, il doit rester au moins un administrateur.
{% endblock %}