{% extends 'layout.html.twig' %}

{%block title%}Connexion : Utilisateur non reconnu{%endblock%}

{% block content %}
<div class="row">
    <div class="colg-lg-12">
        <h1>Utilisateur non reconnu</h1>
        Vos identifiants de connexion n'ont pas été reconnus.<br>
        Veuillez recommencer : <a href="index.php?rub=connexion">ici</a>
    </div>
</div>
{% endblock %}