body, html{
   
    position: relative;
    margin:0;
    padding: 0;
    height:95%; 
}

.ecr_accueil{
    position: absolute;
    top:25%;
    text-align: center;
    width: 500px; 
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.fondJaune{
    background:goldenrod;
}

.haut{
    margin-top: 0px;
}

#m_r, #p_m{
    height:300px;
    border: goldenrod solid 1px;
    overflow-y: scroll;
}

#p_m {
    height: 300px;
}


.absentes{
    overflow: scroll;
    width:90%;
    height:400px;
}

.content{
    height:100%;
    min-height:100%;
}

.container{
    margin: 0 auto;
    margin-top:auto;
}

footer{
    text-align: center;
    background-color: goldenrod;
    font-weight: bold;
    bottom:0px;
    height:5%;
    width:100%;
}