{% extends 'layout.html.twig' %}

{%block title%}Administration - Upload{%endblock%}


{%block content%}
    <div class="row haut">
        <h1>Administration : Importation des données</h1>
        <form enctype="multipart/form-data" action="index.php?rub=admin-trt-fichier" method="POST">
            Veuillez sélectionner le fichier contenant les données à importer :<br/>
            <b>Ce fichier doit être au format xlsx.</b><br/>
            <input 
                type="file" 
                name="dataFile"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                />
                <br/>
            <br/>
            <input type="submit">
        </form>
    </div>
{%endblock%}