{% extends 'layout.html.twig' %}

{%block title%}Administration : {{rubrique}}{%endblock%}

{% block content %}
    <h1>Administration des utilisateurs : Création du mot de passe.</h1>
    Votre mot de passe a bien été crée.<br>
    Pour vous connecter, c'est par ici <a href="index.php?rub=connexion">ici</a>
{% endblock %}