{% extends 'layout.html.twig' %}

{%block title%}Administration - Ajout d'un utilisateur : résultat{%endblock%}

{% block content %}
<h1>Administration : Ajout d'un utilisateur</h1>

    {{message}}<br>
    <a href="index.php?rub=admin-user-list">Retour à la liste des utilisateurs</a>
{% endblock %}