{% extends 'layout.html.twig' %}

{%block title%}Accueil{%endblock%}


{%block content%}
    <div class="row haut">
        <div class="col-lg-12 colg-md-12 col-sm-12">
        <h1>À propos : Fonctionnalités du site</h1>
            Bienvenue sur votre site, vous trouverez ici les fonctionnalités suivantes :
            <ul>
                <li>listage des derniers matchs et de ceux à venir</li>
                <li>listage de tous les prochains matchs</li>
                <li>listage de tous les matchs passés</li>
                <li>importation de tous les utilisateurs à partir d'un fichier xlsx délivrés par la fédération</li>
                <li>consultation et modification de vos données personnelles</li>
            </ul>
        </div>
    </div>
{%endblock%}  