{% extends 'layout.html.twig' %}

{%block title %}Bienvenue{%endblock %}

{%block content%}
    <div id="ecr_accueil">
        <a href="index.php?rub=accueil"><img src="public/img/logo.png"></a>
        <h1>Bienvenue sur votre site web !</h1>
    </div>
{%endblock%}