{% extends 'layout.html.twig' %}

{%block title%}Accueil{%endblock%}


{%block content%}
    <div class="row haut">
        <div class="col-lg-12 colg-md-12 col-sm-12">
            <h2>Matchs récents</h2>
            <div id="m_r">
                Lorem Elsass ipsum wurscht Gal. gravida bredele amet schneck tristique in, jetz gehts los amet, elit geïz Chulien id rossbolla vielmols, bissame chambon merci vielmols suspendisse aliquam semper munster quam, purus nüdle knack ante Yo dû. Oberschaeffolsheim Spätzle amet rhoncus ac und Christkindelsmärik geht's Racing. adipiscing  libero. Carola nullam ac ornare sit morbi et vulputate Mauris messti de Bischheim tchao bissame Strasbourg commodo auctor, kuglopf risus, Wurschtsalad Salut bisamme lacus quam. Heineken yeuh. dui dignissim DNA, Richard Schirmeck turpis, eget leo flammekueche ftomi! Gal ! 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Les prochains matchs</h2>
            <div id="p_m">
                Lorem Elsass ipsum wurscht Gal. gravida bredele amet schneck tristique in, jetz gehts los amet, elit geïz Chulien id rossbolla vielmols, bissame chambon merci vielmols suspendisse aliquam semper munster quam, purus nüdle knack ante Yo dû. Oberschaeffolsheim Spätzle amet rhoncus ac und Christkindelsmärik geht's Racing. adipiscing  libero. Carola nullam ac ornare sit morbi et vulputate Mauris messti de Bischheim tchao bissame Strasbourg commodo auctor, kuglopf risus, Wurschtsalad Salut bisamme lacus quam. Heineken yeuh. dui dignissim DNA, Richard Schirmeck turpis, eget leo flammekueche ftomi! Gal ! 
            </div>
        </div>
    </div>
{%endblock%}  