{% extends 'layout.html.twig' %}

{% block title %}Vérification de votre email.{% endblock %}

{% block content %}
<h1>Création d'un utilisateur</h1>
<p class="oui">Bonjour, <br>
    Votre email bien été validé. Nous vous en remercions</br>
    Veuillez créer votre mot de passe <a href="index.php?rub=saisie-mdp&id={{id}}">ici</a><br>
</p>
L'équipe du HBCK.
    
{% endblock %}